# Keep empty directories tracked
!.gitkeep

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS
# =========================
Thumbs.db
ehthumbs.db